.banner > .wrap > a {display: block;}
.logo-text {color:#000;}
.note_promotion_checkout {
	display: block;
	color: #ff0000;
	border: 1px solid #ff0000;
	padding: 10px;
	font-weight: bold;
	font-size: 13px;
	margin: 10px 0 0;
}
/*.logo-text {
	font-size: 0;
	background: url('logo.png') no-repeat;
	height: 45px;
}
@media ( max-width: 767px ) {
	.logo-text {background-position: center;}
}

*/